<h1> Login to Vistronix video rental </h1>
{% if error_message %}
    <p><strong>Login Failed: Invalid username or password!</strong></p>
{% endif %}
<div>
    <p>Don't have an account <a href="{% url 'login:register'%}">click here</a> to create an account</p>
</div>
<div>
    <form action = "{% url 'login:do_login' %}" method="POST">
    {% csrf_token %}
        <label for ="login">Username: </label>
        <input type="text" id = "login"/><br>
        <label for="password">Password: </label>
        <input type="password" id = "password"/><br>

        <input type="submit" value="Login"/>
    </form>
</div>